body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #010001;
  color: #FFF;
  height: 100%;
  padding-bottom: 120px;
}

.top > img {
  display: inline-block;
  padding: 30px 0px 0px 50px;
  cursor: pointer;
}

/* NARBAR */

.top > div {
  display: inline-block;
  position: absolute;
  right: 50px;
  top: 30px;
}

.top > div > ul {
  cursor: pointer;
  display: inline-block;
}

.top > div > ul > li {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.top > div > ul > li > div > p {
  color: #FFF;
  font-size: 16px;
  font-weight: 500px;
}

.top > div > ul > li > div > ul {
  display: none;
  list-style-type: none;
  background-color: #FFFFFF;
  color: #1f1f25;
  font-size: 16px;
  font-weight: 500;
  width: 220px;
  position:absolute;
  padding: 12px 0px 12px 0px;
  border-radius: 4px;
}

.top > div > ul > li > div > ul > li {
  color: #1f1f25;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px 5px 20px;
  margin: 0px 10px 0px 10px;
}

.top > div > ul > li > div {
  height: 40px;
}

.top > div > ul > li > div:hover > ul {
  display: block; 
}

.top > div > ul > li > div > ul:hover {
  display: block;
  color: #010001;
  font-size: 16px;
}

.top > div > ul > li > div > ul > li:hover{
  background-color: #ffedf2;
  color: #fd4793;
  border-radius: 3px;
}

.top > div > button {
  display: inline-block;
  background-color: #343334;
  color: #caf2ff;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 16px 40px 16px 40px;
  border-radius: 36px;
  margin-left: 60px;
  border: 2px solid #5d5c5d;
  cursor: pointer;
}

.center > h1 {
  text-align: center;
  font-size: 110px;
  font-weight: 900;
  line-height: 120px;
}

/* BOTTOM */

.bottom {
  text-align: center;
}

.bottom > div {
  display: inline-block;
  padding: 0px 52px 0px 52px;
}

.bottom > div > h4 {
  color: #fff9f9;
  font-weight: 600;
  line-height: 1.4074;
}

.bottom > div > p {
  color: #757575;
}

/* MAIN */
/* MAIN-1 */

.main-1 {
  text-align: center;
  margin: 120px 0px 120px 0px;
}

.main-1 > img {
  display: inline-block;
}

.main-1 > div {
  text-align: left;
  display: inline-block;
  position: relative;
  bottom: 105px;
  left: 100px;
}

.main-1 > div > h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0px 0px 50px 0px;
}

.main-1 > div > p {
  color: #757575;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 35px;
}

.main-1 > div > a {
  text-decoration: none;
  cursor: pointer;
}

/* MAIN-2 */

.main-2 {
  background-color: #fafafb;
  padding: 120px 0px 120px 0px;
  text-align: center;
}

.top-2 > h4 {
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
}

.top-2 > h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin: 20px 0px 20px 0px;
}

.top-2 > p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
}

.bottom-2 {
  text-align: center;
  margin-top: 30px;
}

.bottom-2 > div > div {
  background-color: #fff;
  width: 290px;
  height: 205px;
  padding: 40px 30px;
  margin: 30px 10px 0px;
  border-radius: 10px;
  text-align: left;
  display: inline-block;
}

.bottom-2 > div > div:hover {
  cursor: pointer;
  box-shadow: 0 2px 70px 0 rgb(253 71 102 / 5%);
  position: relative;
  bottom: 5px;
}

.bottom-2 > div > div > p {
  color: #757575;
}

.bottom-2 > div > div > h3 {
  color: #1f1f25;
  line-height: 1.4074;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* MAIN-3 */

.main-3 {
  text-align: center;
  margin: 120px 0px 102px 0px;
}

.top-3 > h2 {
  color: #1f1f25;
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}

.top-3 > p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
}

.web-design {
  display: inline-block;
  background-image: 
    url(./images/web-design.jpg);
    height: 532px;
    width: 390px;
  background-size: cover;
  color: #fff;
  border-radius: 10px;
  margin: 30px 15px 0px 15px;
  position: relative;
}

.web-design:hover {
  position: relative;
  bottom: 5px;
}

.web-design > div {
  text-align: left;
  position:absolute;
  left: 50px;
  bottom: 25px;
}

.app-development {
  display: inline-block;
  background-image: 
  url(./images/img-app-development.png);
  background-size: cover;
  width: 390px;
  height: 532px;
  color: #fff;
  border-radius: 10px;
  margin: 30px 15px 0px 15px;
  position: relative;
}

.app-development:hover {
  position: relative;
  bottom: 5px;
}

.app-development > div {
  text-align: left;
  position:absolute;
  left: 50px;
  bottom: 25px;
}

.photoshop-design {
  display: inline-block;
  background-image: 
  url(./images/photoshop-design.jpg);
  height: 532px;
  width: 390px;
  background-size: cover;
  color: #fff;
  margin: 30px 15px 0px 15px;
  border-radius: 10px;
  position: relative;
}

.photoshop-design:hover {
  position: relative;
  bottom: 5px;
}

.photoshop-design > div {
  text-align: left;
  position:absolute;
  left: 50px;
  bottom: 25px;
}

/* MAIN-4 */

.main-4 {
  background-color: #fafafb;
  text-align: center;
  padding: 120px 0px 120px 0px;
}

.top-4 > h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  margin: 25px 0px 20px 0px;
}

.top-4 > p {
  color: #757575;
  font-size: 18px;
  line-height: 30px;
}

.bottom-4 > div {
  display: inline-block;
  background-color: #FFFFFF;
  width: 188px;
  height: 167px;
  border-radius: 10px;
  padding: 50px;
  margin: 0px 15px 0px 15px;
}

.bottom-4 > div > svg {
  stroke-width: 1;
  font-size: 45px;
}

.bottom-4 > div > h1 {
  font-size: 54px;
  font-weight: 600;
  line-height: 62px;
  margin-top: 20px;
}

.bottom-4 > div > p {
  color: #947575;
  font-size: 18px;
  line-height: 28px;
}

.main-5 {
  padding: 120px 0px 120px 0px;
}

